Repository d-asv-b/DeliPizzaProject, pull requests merged in 2025-05, with the labels that each got.

#31 Enabling HTTPS connections with Let's Encrypt certificates
  backend/.dockerignore
  backend/Dockerfile
  certbot/Dockerfile
  certbot/gen_certs.sh
  docker-compose.yml
  init_certs.sh
  nginx/Dockerfile
  nginx/custom-entrypoint.sh
  nginx/nginx.conf.template
  nginx/ssl-setup.conf
Labels: back

#32 Cerates profile info endpoint
  backend/api/decorators.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
Labels: back

#33 JWT rotation fix
  backend/api/decorators.py
  backend/api/views.py
  backend/backend/settings.py
  frontend/app/api/auth.ts
Labels: back

#34 Account settings page and functionality
  frontend/app/PageContainer.tsx
  frontend/app/api/account.ts
  frontend/app/api/index.ts
  frontend/app/app.css
  frontend/app/components/account/AccountSettingsTab.tsx
  frontend/app/components/account/DeliveryAdressesTab.tsx
  frontend/app/components/account/OrdersHistoryTab.tsx
  frontend/app/components/account/PaymentMethodsTab.tsx
  frontend/app/components/main/Header.tsx
  frontend/app/components/modals/BasicModal.tsx
  frontend/app/components/modals/EditModal.tsx
  frontend/app/components/modals/PasswordEditModal.tsx
  frontend/app/contexts/AuthContext.tsx
  frontend/app/contexts/ModalHost.tsx
  frontend/app/models/account.ts
  frontend/app/root.tsx
  frontend/app/routes.ts
  frontend/app/routes/AccountSettings.tsx
  frontend/app/routes/SignIn.tsx
  frontend/app/routes/SignUp.tsx
  frontend/app/utils/AuthService.ts
  frontend/app/utils/loaderHelpers.ts
Labels: front

#35 User account settings
  backend/api/migrations/0008_user_groups_user_user_permissions.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
Labels: back

#37 done-get_order_info #25
  backend/api/urls.py
  backend/api/views.py
  backend/backend/urls.py
Labels: back

#38 done
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
Labels: back

#39 Adds functionality for managing addresses and payment methods
  backend/api/admin.py
  backend/api/migrations/0009_deliveryaddress.py
  backend/api/migrations/0010_paymentmethod.py
  backend/api/migrations/0011_remove_deliveryaddress_appartment_number_and_more.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
  backend/backend/settings.py
Labels: back

#42 Frontend/settings
  backend/api/admin.py
  backend/api/migrations/0012_restaurant_tag_remove_order_is_completed_and_more.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/views.py
  frontend/app/api/account.ts
  frontend/app/api/addresses.ts
  frontend/app/api/auth.ts
  frontend/app/api/index.ts
  frontend/app/api/orders.ts
  frontend/app/api/payments.ts
  frontend/app/api/pizza.ts
  frontend/app/app.css
  frontend/app/components/account/AccountSettingsTab.tsx
  frontend/app/components/account/DeliveryAdressesTab.tsx
  frontend/app/components/account/PaymentMethodsTab.tsx
  frontend/app/components/general/Button.tsx
  frontend/app/components/general/DropdownMenu.tsx
  frontend/app/components/main/Header.tsx
  frontend/app/components/main/PizzaCard.tsx
  frontend/app/components/main/PizzaCardContainer.tsx
  frontend/app/components/modals/AddressDeleteModal.tsx
  frontend/app/components/modals/AddressModal.tsx
  frontend/app/components/modals/BasicModal.tsx
  frontend/app/components/modals/DeliveryTimeModal.tsx
  frontend/app/components/modals/PizzaInfoModal.tsx
  frontend/app/contexts/CartContext.tsx
  frontend/app/contexts/DeliveryAddressesContext.tsx
  frontend/app/contexts/PaymentMethodsContexts.tsx
  frontend/app/contexts/PizzaListContext.tsx
  frontend/app/hooks/useCartTotal.ts
  frontend/app/models/account.ts
  frontend/app/models/addresses.ts
  frontend/app/models/orders.ts
  frontend/app/models/payments.ts
  frontend/app/models/pizza.ts
  frontend/app/root.tsx
  frontend/app/routes.ts
  frontend/app/routes/Cart.tsx
  frontend/app/routes/OrderPage.tsx
  frontend/app/utils/AuthService.ts
  frontend/package-lock.json
  frontend/package.json
  nginx/custom-entrypoint.sh
Labels: front, back

#43 Add place order functionality with validation
  backend/api/migrations/0013_order_total_price_orderitem_count_and_more.py
  backend/api/migrations/0014_orderitemingredient_state_and_more.py
  backend/api/models.py
  backend/api/serializers.py
  backend/api/urls.py
  backend/api/utils.py
  backend/api/views.py
Labels: back
